/*头部hack*/

#header_container {
    position: static;
}

/*中部容器*/
#midContainer{
	width: 1000px;
	height: auto;
	margin: 4rem auto 5rem;
	background: #fff;
	padding: 3rem;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-radius: .3rem;
	color: #333;
	position: relative;
}
#midContainer p{
	margin: .875rem auto;
	font-size: .875rem;
	text-align: justify;
}
#midContainer p.bold{
	font-weight: bold;
	color: #1296db;
}
#midContainer span{
	display: block;
	margin: .875rem auto;
	font-size: .875rem;
	text-indent: 1.5rem;
	text-align: justify;
}
#midContainer h3{
	font-size: 1.2rem;
}
#midContainer h4{
	font-weight: bold;
	font-size: 1rem;
	margin: 1rem auto;
	text-align: justify;
}
#midContainer table{
	width: 100%;
	height: auto;
	margin: 0 auto;
	border-radius: .3rem;
	border: 1px solid #dddddd;
	text-align: center;
	font-size: .875rem;
}
#midContainer table td{
	padding: .3rem;
	border: 1px solid #dddddd;
}
#midContainer table a img{
	display: block;
	width: 5rem;
	height: 3rem;
	margin: 0 auto;
}
#advContainer{
	width: 100%;
	height: auto;
	margin: 3rem auto;
	padding: 0 0 1.5rem 0;
	border-top: 1px solid #dddddd;
}
#advContainer h3{
	margin: 2rem auto;
}
#advContainer img{
	width: 10rem;
	height: 4rem;
	margin: .5rem 1rem;
}