/*头部hack*/

#header_container {
    position: static;
}

/*中部容器*/
#midContainer{
	width: 1000px;
	height: auto;
	margin: 4rem auto 5rem;
	background: #fff;
	padding: 3rem;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-radius: .3rem;
	color: #333;
	position: relative;
}
#midContainer h1{
	font-size: 1.2rem;
}
#midContainer p{
	margin: .875rem auto;
	font-size: .875rem;
	text-align: justify;
}
#midContainer p.intent{
	text-indent: 1rem;
}
#midContainer p a{
	font-weight: bold;
	color: #FF5252;
}
#midContainer p span{
	font-weight: bold;
}