html {
    width: 100%;
    min-height: 440px;
}

body {
    width: 100%;
    height: 100%;
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    background-color: #E9E9E9;
}


/*头部最外层容器**************************************************/

#header_container {
    width: 100%;
    background-color: #fff;
}


/*头部->导航容器，宽度65%居中*/

header {
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    height: 4.6875rem;
    line-height: 4.6875rem;
    margin: 0 auto;
    background-color: #fff;
}

/*头部容器的h3下面a的通用样式*/

header h3 a {
    height: auto;
    color: #606060;
    font-weight: normal;
    text-decoration: none;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

header h3 a:hover {
    color: #000;
    text-decoration: none;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}


/*导航左侧*/

header .header_nav_left {
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

header .header_nav_left img {
    -ms-align-self: center;
    align-self: center;
    width: 6.25rem;
    height: 3rem;
    border: 1px solid red;
}

header .header_nav_left h3 {
    height: 3rem;
    -ms-align-self: center;
    align-self: center;
}


/*导航右侧*/

header .header_nav_right {
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}
/*input表单提交*/
header .header_nav_right form {
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-align-self: flex-end;
    align-self: flex-end;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: 2rem;
    line-height: 2rem;
    width: 12rem;
    border-radius: 0.1865rem 0 0 0.1865rem;
    background-color: #E9E9E9;
}
header .header_nav_right form img{
	padding-left: .5rem;
	height: 1.2rem;
	width: 1.2rem;
	-ms-align-self: center;
	align-self: center;
}
header .header_nav_right input {
    width: 10rem;
    height: 2rem;
    padding: 0 0.5rem;
    border: none;
    border-radius: 0 0.3125rem 0.3125rem 0;
    font-size: 0.75rem;
    background-color: #E9E9E9;
    outline: none;
}
/*右侧表单提交end*/
header .header_nav_right h3 {
	width: auto;
    height: 3rem;
    -ms-align-self: center;
    align-self: center;
    margin-bottom: 1rem;
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
header .header_nav_right h3 img{
	height: 1rem;
	width: 1rem;
	margin-bottom: .2rem;
	-ms-align-self: flex-end;
	align-self: flex-end;
}
header .header_nav_right .tabGame{
	display: block;
	width: 9rem;
	height: 2rem;
	line-height: 2.2rem;
	margin-top: 1.2rem;
	text-align: center;
	background: #FF5252;
	color: #fff;
	font-weight: bold;
	font-size: .95rem;
	border-radius: 1rem;
}

/**** slider轮播图 ************************************************/
#slider_container{
	width: 100%;
	height: 23rem;
	background-color: #D8D8D8;
	/*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-ms-align-items: center;
	align-items: center;
}