html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	/*flex的兼容布局*/
	display: -webkit-box; 
    display: -moz-box; 
    display:-webkit-flex;
    display: -ms-flexbox;
    display:flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
